.add-field.svelte-2l1e64{padding:19px 25px;width:100%;border-radius:5px;background:#DCDCDC;border:none;text-align:start;cursor:pointer}.tooltip-wrapper.svelte-z45wcv.svelte-z45wcv{position:relative;display:inline-block}.tooltip.svelte-z45wcv.svelte-z45wcv{position:absolute;background:rgba(0,0,0,0.9);border-radius:10px;padding:20px;width:200px;min-height:100px;color:#fff;font-size:12px;line-height:16px;text-align:center;display:flex;align-items:center;bottom:20px;left:50%;transform:translateX(-50%);display:none}.tooltip-wrapper.svelte-z45wcv:hover .tooltip.svelte-z45wcv{display:flex}.tooltip.svelte-z45wcv.svelte-z45wcv:after{content:' ';display:block;border:5px solid transparent;border-top-color:rgba(0,0,0,0.9);position:absolute;bottom:0;left:50%;transform:translate(-50%, 100%)}.drag-handle.svelte-w8niq3{margin-inline-end:8px}.center-drag-handle.svelte-w8niq3{margin-inline-start:8px}.composite-field.svelte-w8niq3{border:1px solid grey;border-radius:5px;display:flex;align-items:center;line-height:1rem;padding:11px 24px;margin-bottom:10px;background:#fff}.input.svelte-w8niq3{flex:1;width:100%}.remove-field.svelte-w8niq3{background:none;border:none;padding:0px;margin:6px 0px;margin-inline-start:24px;cursor:pointer}input.svelte-16dbqpn{width:100%;border:none;outline:none;padding:10px 0px}.junction-input.svelte-19km4y0{border:2px solid #E6E6E6;border-radius:2px;min-width:80px}.type-input.svelte-18f44pc{min-width:130px;margin:0 12px;border:2px solid #E6E6E6;border-radius:2px}.disabled.svelte-u80ij0.svelte-u80ij0{pointer-events:none;cursor:not-allowed;color:#9C9B99}.pseudo-select.svelte-u80ij0.svelte-u80ij0{display:inline-block;position:relative;font-size:14px;line-height:20px;cursor:pointer;width:100%}.full-width.svelte-u80ij0.svelte-u80ij0{width:100%}.selected-value.svelte-u80ij0.svelte-u80ij0{display:flex;justify-content:space-between;align-items:center}.selected-value.svelte-u80ij0 .placeholder.svelte-u80ij0{color:#9C9B99;;}.selected-value.svelte-u80ij0 .caret-icon.svelte-u80ij0{margin-inline-start:8px}.full-width.svelte-u80ij0 .selected-value.svelte-u80ij0{padding:9px 14px}.option.svelte-u80ij0.svelte-u80ij0{padding:4px 10px;margin:4px}.options.svelte-u80ij0.svelte-u80ij0{display:block;list-style:none;margin:0px;padding:0px;width:auto;min-width:100%;white-space:nowrap;z-index:1;position:absolute;background:#fff;border:2px solid #E6E6E6;border-radius:2px;margin-inline-start:-2px;max-height:250px;overflow-y:auto}svg.svelte-vk0vfl{vertical-align:middle}.select2.svelte-xyi11b.svelte-xyi11b{position:relative}.select2_selected.svelte-xyi11b.svelte-xyi11b{display:flex;align-items:center;padding:5px 5px 5px 0}.select2_selected.svelte-xyi11b .caret-icon.svelte-xyi11b,.select2_selected.svelte-xyi11b .cross-icon.svelte-xyi11b{cursor:pointer}.select2_selected.svelte-xyi11b .cross-icon.svelte-xyi11b{margin-right:10px}.select2_selected--label.svelte-xyi11b.svelte-xyi11b{width:100%}.select2_selected--label.svelte-xyi11b input.svelte-xyi11b{width:100%;border:none;outline:none}.select2_options.svelte-xyi11b.svelte-xyi11b{position:absolute;display:none;margin:0px;padding:0;margin-inline-start:-2px;width:100%;z-index:1;list-style:none;background:#fff;border:2px solid #e6e6e6;max-height:200px;overflow-y:auto;font-size:14px}.select2_options.svelte-xyi11b.svelte-xyi11b:empty{padding:10px}.select2_options.svelte-xyi11b.svelte-xyi11b:empty:after{content:"No results found";margin-top:10px}.select2_options.show.svelte-xyi11b.svelte-xyi11b{display:block}.select2-options--option.svelte-xyi11b.svelte-xyi11b{padding:4px 10px;margin:4px;cursor:pointer}.select2-options--option.svelte-xyi11b.svelte-xyi11b:hover{background-color:#f1f1f1}.select2-options--option.selected.svelte-xyi11b.svelte-xyi11b{background-color:#dcdcdc}[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.switch-input.svelte-1eu83y3.svelte-1eu83y3{cursor:pointer;display:flex;align-items:center}.switch-wrapper.svelte-1eu83y3.svelte-1eu83y3{position:relative;display:inline-block;background:#E6E6E6;width:28px;height:16px;border-radius:30px;transition:background-color .3s;margin:0 4px}.active.svelte-1eu83y3 .switch-wrapper.svelte-1eu83y3{background:#333}.switch-handle.svelte-1eu83y3.svelte-1eu83y3{display:inline-block;margin:2px;position:absolute;transition:all .3s;left:0px;content:'';border-radius:50%;width:12px;height:12px;background:#fff}.active.svelte-1eu83y3 .switch-handle.svelte-1eu83y3{left:12px}