name: Continuous Integration

on:
  push:
    branches: [master]
    tags: [v*.*.*]
  pull_request:
    branches: [master]
  pull_request_target:
    branches: [master]


jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    if: |
      (github.event_name != 'pull_request_target' && github.actor != 'dependabot[bot]') ||
      (github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]')
    steps:
    - name: Checkout commit
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
    - name: Install python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.10
    - name: Cache packages
      uses: actions/cache@v2.1.6
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-py-3.8.10-${{ hashFiles('requirements-dev.txt') }}-${{ hashFiles('setup.py') }}
    - name: Install dependencies
      run: make setup
    - name: Lint
      run: make lint
      env:
        CI_LINT_RUN: 1
    - name: Run unit tests
      run: make test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.0.3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: .coverage.xml
        name: codecov-unit

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Checkout commit
      uses: actions/checkout@v2
    - name: Install python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.10
    - name: Install twine
      run: |
        pip3 install twine wheel
    - name: Build package
      run: python3 setup.py sdist bdist_wheel
    - name: Upload package
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        TWINE_NON_INTERACTIVE: 1
      run: |
        twine upload dist/*
