
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #fefefe;
	font-size: 16px;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

header h1, .container {
	max-width: 1280px;
}

header {
	background-color: #C52F24;
	color: #f0f0f0;
}
header h1 {
	margin: 0;
	padding: 13px 30px;
	line-height: 1.1;
	font-size: 26px;
}

.container {
	padding: 0 30px 150px;
	margin: 0;
}
.scroll-container {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	overflow-x: auto;
}

.container h2, .container h3, .container h4, .container h5, .container h6 {
	margin: 16px 0 12px;
	padding: 0;
}
.container h2, .container h3 {
	color: #C52F24;
}
.container h3 {
	margin-top: 30px;
}

.container section {
	border-top: 1px solid #ddd;
	padding: 8px 0 0;
	margin-top: 16px;
}
section h4 {
	margin-top: 0;
}

code, table {
	font-family: Monaco, "Courier New", Courier;
	font-size: 15px;
}

.table-header {
	color: #444;
	background-color: #ddd;
	padding: 8px 6px;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
	font-size: 12px;
	min-width: 640px;
}
table {
	border: none;
	text-align: left;
	width: 100%;
	min-width: 640px;
}
table div {
	padding: 4px;
	vertical-align: middle;
}
table th {
	color: #444;
	font-size: 14px;
}
table th,
table td {
	border-bottom: 1px dotted #ddd;
}
table tr:last-child td {
	border-bottom: none;
}
table td {
	overflow-wrap: anywhere;
	vertical-align: middle;
}
