.form-input,
.form-textarea,
.form-multiselect {
	appearance: none;
	background: white;
	border: 1px solid theme('colors.gray.400');
	border-radius: theme('borderRadius.DEFAULT');
	padding: theme('spacing.2') theme('spacing.3');
	line-height: theme('lineHeight.normal');
	font-size: theme('fontSize.base');
}

.form-input::placeholder,
.form-textarea::placeholder {
	color: theme('colors.gray.500');
	opacity: 1;
	text-transform: none;
}

.form-select {
	appearance: none;
	border: 1px solid theme('colors.gray.400');
	border-radius: theme('borderRadius.DEFAULT');
	padding: theme('spacing.2') theme('spacing.10') theme('spacing.2') theme('spacing.3');
	line-height: theme('lineHeight.normal');
	font-size: theme('fontSize.base');
	color-adjust: exact;
	background-position: right theme('spacing.2') center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="theme('colors.gray.500'"><path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/></svg>');
}

.form-select::-ms-expand {
	border: none /* The select padding is causing some whitespace around the chevron which looks weird with a border */
}

@media not print {
	.form-select::-ms-expand {
		display: none;
	}
}

.form-checkbox,
.form-radio {
	appearance: none;
	background-origin: border-box;
	background-position: right theme('spacing.2') center;
	background-size: 1.5em 1.5em;
	background: white;
	border: 1px solid;
	color-adjust: exact;
	color: theme('colors.blue.500');
	display: inline-block;
	flex-shrink: 0;
	height: 1em;
	width: 1em;
	text-align: middle;
	user-select: none;
}

.form-checkbox {
	border-radius: theme('borderRadius.DEFAULT');
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z"/></svg>');
}

.form-radio {
	border-radius: 100%;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="3"/></svg>');
}

.form-checkbox:checked,
.form-radio:checked {
	border:  1px solid transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-color: currentColor;
	background-size: 100% 100%;
}

@media not print {
	.form-checkbox::-ms-check,
	.form-radio::-ms-check {
		color: transparent; /* Hide the check */
		background: inherit;
		border-color: inherit;
		border-radius: inherit;
	}
}

.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
	outline: none;
	box-shadow: theme('boxShadow.sm');
	border: 1px solid theme('colors.blue.500');
}
